<%= render 'shared/errors', obj: @ticket %>

<%= form_for @ticket do |f| %>
  <dl>
    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>
  </dl>
  <dl>
    <dt><%= f.label :body %></dt>
    <dd><%= f.text_field :body %></dd>
  </dl>
  <dl>
    <dt><%= f.label :status %></dt>
    <dd><%= select_tag(:status, raw("<option value='new'>New</option><option value='in_progress'>In progress</option><option value='fixed'>Fixed</option><option value='blocked'>Blocked</option>")) %></dd>
  </dl>
  <dl>
    <dt><%= f.label :assignee %></dt>
    <dd><%= collection_select(:assignee_id, :user_id, User.all, :id, :name) %></dd>
  </dl>
  <dl>
    <dt><%= f.label :tags %></dt>
    <dd><%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, { multiple: true }) %></dd>
  </dl>
  <%= f.submit 'Update ticket' %>
<% end %>