<h2><%= @ticket.name %>
<p><%= @ticket.body %></p>
<%= link_to 'Edit', edit_ticket_path(@ticket) %>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Creator</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.status %></td>
      <td>Not yet</td>
      <td>Not yet</td>
    </tr>
  </tbody>
</table>
<%= link_to 'Back', tickets_path %>