<!DOCTYPE html>
<html>
  <head>
    <title>TicketingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <h1>Ticketing</h1>
    <ul>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Tickets', tickets_path %></li>
      <li><%= link_to 'Tags', tags_path %></li>
    </ul>
    <% unless current_user %>
    <ul>
      <li><%= link_to 'Login', '/login' %></li>
      <li><%= link_to 'Register', '/register' %></li>
    </ul>
    <% else %>
    <ul>
      <li>Signed in as <%= current_user.name %></li>
      <li><%= link_to 'Logout', '/logout' %></li>
    </ul>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
